/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flash-notice {
  color: green;
  margin-bottom: 20px;
  border: 2px solid green;
  padding: 10px;
  background-color: #d4edda; /* 薄い緑色の背景 */
  border-radius: 5px; /* 角を丸くする */
}

.flash-alert {
  color: red;
  margin-bottom: 20px;
  border: 2px solid red;
  padding: 10px;
  background-color: #f8d7da; /* 薄い赤色の背景 */
  border-radius: 5px;
}